<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            {# тут будет название страницы #}
        {% endblock %}
    </title>
    <style>
        {% block style %}
            {# тут будут стили для каждой страницы #}
        {% endblock %}
    </style>
</head>
<body>
<nav>
    <a href="/">🏠Домой</a>|<a href="/items">📄Items</a>|<a href="/about">About</a>
</nav>
{% block content %}
    {# тут будет содержимое для каждой страницы #}
{% endblock %}
</body>
</html>