{% extends 'base.html' %}
{% block title %}
    Товар: {{ item.name }}
{% endblock %}


{% block content %}
    <div class="container">
    <h1>{{ item.name }}</h1>
    <p>
        Наименование: <strong>{{ item.name }}</strong>
    </p>
    <p>
        Количество:
{#        {% if item.count == 0 %}#}
{#            товар отсутствует#}
{#        {% else %}#}
{#            {{ item.count }} шт.#}
{#        {% endif %}#}
        {{ item.count | default:'товар отсутствует' }}
    </p>
    <p>
        {{ item.description }}
    </p>
<a href="{% url 'items-list' %}"><-Назад</a>
</div>
{% endblock %}
