{% extends 'base.html' %}
{% block title %}
    Товар: {{ item.name }}
{% endblock %}


{% block content %}
    <div class="container">
        <h1>{{ item.name }}</h1>
        <p>
            Наименование: <strong>{{ item.name }}</strong>
        </p>
        <p>
            Количество:
            {{ item.count | default:'товар отсутствует' }}
        </p>
        Цвета:
        <ol>
            {% for color in item.colors.all %}
                <li>{{ color.name }}</li>
            {% endfor %}
        </ol>
        <p>
            {{ item.description }}
        </p>
        <a href="{% url 'items-list' %}"><-Назад</a>
    </div>
{% endblock %}
